<div class="container">
  <header class="jumbotron">
    <h1 *ngIf="currentCourse" class="display-3">Welcome to {{currentCourse.title}}</h1>
  </header>
  <div class="alert alert-success">
    <strong>Hit Count: </strong> {{courseHitCount}}
  </div>
  <div *ngIf="dataSource">
    <h2>Enrolled Students</h2>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Student Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element}}</mat-cell>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
