<div class="container">
  <div *ngIf="errorMessage" class="alert alert-danger"><strong>Error: </strong>{{errorMessage}</div>
  <div *ngIf="infoMessage" class="alert alert-success"><strong>Success: </strong>{{infoMessage}</div>
  <div class="data-source-table">
    <h2>Courses</h2>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="detail">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Detail</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="detail(element)">Detail</button>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Course Title</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="author">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Author</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.author}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Category</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Action</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="enroll(element)">Enroll</button>
          </mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
